<div class="container ">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <a routerLink="pokedex">
            <mat-card class="home">
                <mat-card-header>
                    <mat-card-title>
                        Pokedex
                    </mat-card-title>
                  </mat-card-header>
                <mat-card-content>
                    <p>
                        Busca pokémons por nombre, region, tipo
                    </p>
                  </mat-card-content>
            </mat-card>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <a href="">
                <mat-card class="home">
                    <mat-card-header>
                        <mat-card-title>
                            Pokegraphs
                        </mat-card-title>
                      </mat-card-header>
                    <mat-card-content>
                        <p>
                            Graficas Pokémons, regiones, tipos, generaciones
                        </p>
                      </mat-card-content>
                </mat-card>
                </a>
        </div>
    </div>
</div>